body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 167, 160);
}

.showcase {
  background: url("C:\Teknobuilt-Assignment\Tecknobuilt-assignment\src\images\banner3.jpg") no-repeat center/cover;
  height: 300px;
}

.showcase .overlay{
  background-color: rgba(153, 113, 113, 0.149);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width:700px) {
  .showcase {
    background: url("C:\Teknobuilt-Assignment\Tecknobuilt-assignment\src\images\banner3.jpg") no-repeat top/cover;
    height: 300px;
  }
}

@media (min-width:1024px) {
  .showcase {
    background: url("C:\Teknobuilt-Assignment\Tecknobuilt-assignment\src\images\banner3.jpg") no-repeat center/cover;
    height: 300px;
  }
}